* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
	background-color:#323131;
    background-attachment:fixed;
    height:100%;
    width:100%;
    background-color:#277aa3;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size:12px;
}

#login-logo{
    position: absolute;             
    left: 10%;
    /*top: 18%;*/      
    top:45%;
    width: 80%;                   
    text-align: center;
    margin: 0px 0px 20px 0px;
}

.logo-name{
    font-size:24px;
    font-weight:normal;
    text-align:center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.input-user-info{
    position:absolute;
    top: 50%;
    left:3%;
    text-align:center;
    width:94%;    
}

#log-in-notify {
    width:50%; 
    position:absolute; 
    left:25%; 
    top:63%; 
    visibility:hidden;
    text-align:center;
    color:white;
}

#user-input-four-element {
    visibility: hidden;
}

.usertext {
    border: none;
    margin: 4px 0px;
    width: 80%;
    border-radius: 5px;
    padding: 2% 5%;
}

.button-login-page{
    border: none;
    margin: 4px 0px;
    display: inline-block;
    font-size: 16px;
    padding: 2% 0px;
    text-decoration: none;
    width:90%;
    cursor: pointer;
}

.button-login-page.button-login{    
    background-color: white;
    color: #277aa3;
}

.button-login-page.button-signup{
    background-color: #277aa3;
    color: white;
}

.input-user-help{
    position: absolute;
    top: 92%;
    left:30%;
    width:40%;
    text-align:center;
}

#forget-password{
    border: none;
    background-color:#277aa3;
    color: #323131;    
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;    
}

#login-page{
    background-color:#277aa3;
}
