* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
	background-color:#323131;
    background-attachment:fixed;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    background-color:#277aa3;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size:12px;
}

#login-logo{
    position: absolute;             
    left: 35%;
    top: 20%;
    height: 50px;                  
    width: 225px;                   
    text-align: center;
    padding: 120px 100px 0px 0px;     
    margin: -115px -50px 0px -112px;
}

.logo-image{
    text-align: center;
    height:auto;
    width: auto;
    padding: 0px 70px;
}

.logo-name{
    font-size:24px;
    font-weight:normal;
    text-align:center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    padding: 0px 70px;
}

.input-user-info{
    position:absolute;
    top: 50%;
    left:3%;
    text-align:center;
}

.user-text{
    border: none;
    margin: 4px 10px;
    padding: 10px 150px 10px 10px;
    border-radius: 5px;
}

.button-login-page{
    border: none;
    margin: 4px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 10px 134px;
    cursor:pointer;
    text-decoration: none;
}

.button-login-page.button-login{
    background-color: white;
    color: #277aa3;
}

.button-login-page.button-signup{
    background-color: #277aa3;
    color: white;
}

.input-user-help{
    position: absolute;
    top: 92%;
    left:36%;
}

#forget-password{
    border: none;
    display:inline-block;
    cursor:pointer;
    background-color:#277aa3;
    color: #323131;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

#login-page{
    background-color:#277aa3;
}

.mylogo {
    display: block;
    width: 50%;
    margin: 8% auto;
}
