/* Shawn */

.override-vehicle{
    bottom: 66px;
}

.override-icon-size{
    font-size: 25px;
}

.override-icon-color{
    color: #000000;
}

.override-icon-link{
    background-image: none;
}

/* Tse Li */

.cards-item-title {
    max-width: 50%;
    font-size: small;
    padding-left: 0;
    padding-right: 16px;
    color: rgba(0, 0, 0, 0.54);
}


.card-history {
    background: #fff;
    margin: 8px;
    position: relative;
    border-radius: 2px;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.no-colour {
    color: white;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.row.no-gutter .col-25 {
    width: 25%;
}

.row.no-gutter .col-75 {
    width: 75%;

}
/* Yean Choon */

.list-block{
    background-color:white;
}

#profile-title{
    position:center;
    color:white;
    font-size:28px;
    text-align:center;
}

#parking-info{
    position:absolute;
    top:35%;
    width:100%;

}

#car-select,#location{
    background-color: white;
}

.wallet{
    position:absolute;
    top:15%;
    box-sizing: border-box;
    -webkit-border-radius:5px;
    padding: 16px;
    min-height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color:#2196F3;
    width:100%;
    height:80px;
}

#money-icon{
    width:10%;
    margin:4px 4px;
    color:goldenrod;
}

.token{
    right:0%;
    font-size:42px;
    color: #422608;
    text-align:left;
    width:80%;
}

#add-car{
    position:absolute;
    right:16px;
    bottom: 64px;
}

.popover .list-block{
    max-height:200px;
}

a.close-popover{
    color:inherit;
    box-sizing:border-box;
    display:flex;
    -webkit-box-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;
    width:100%;
}

.popover.popover-menu-car,
.popover.popover-menu-duration{
    width:320px;
}

.content-block.confirm-payment{
    position:absolute;
    top:60%;
    width:100%;
}

.confirm-payment-button{
    background-color:white;
}
/* JJL */

.mylogo {
    display:block;
    width:50%;
    margin:8% auto;
}

.item-media img {
    width: auto;
    height: auto;
    max-width: 40px;
    border-radius: 50%;
}

.color-theme {
    height: 44px;
    cursor: pointer;
    margin-bottom: 10px;
}

/* Sen Kit */
.toolbar.tabbar.tabbar-labels {
    top: 0px;
}

.list-block.media-list, #history-list, #topup-list, #lbl-cc, #desc-cc, #history-timeline, #extend-content, #duration-content{
    margin:0px;
}

#history-content, #topup-content{
    margin:0px;
    padding:0px;
}

#car-icon, #location, #topup-icon,#topup-date,#history-car-plate, #timeline-date, #extendCarPlate{
    font-size:20px
}

#lbl-time-left{
    font-size:50px; 
    position:absolute; 
    right:20%;
}

#lbl-time-remain{
    font-size:12px; 
    padding-bottom:20px; 
    bottom:0; 
    right:2%; 
    position:absolute;
}

#txt-car-plate,.owned-car,.select-car{
    text-transform: uppercase;
}

#active-car-plate{
    font-size:35px;
}

::-webkit-input-placeholder{
    text-transform: none;
}

#lbl-time, #history-info, #topup-info{
    font-size: 18px;
}

#time-remain,#desc-cc{
    font-size:28px;
}

#extend-btn, #terminate-btn{
    float: left;
    border-radius: 12px; 
    width:45%; 
    height:50px; 
    margin:0 2.5%;
}

#confirm-btn{
    position:absolute;
    width:60%;
    margin:0 20%;
    height:50px;
    border-radius:12px
}

#extend-btn, #confirm-btn{
    background-color:blue;
    color: white
}

#terminate-btn{
    background-color:red;
    color: white
}


#popover-active{
    width:345px;
    height:350px;
}

#lbl-btns, #lbl-extend{
    text-align:center;
    font-size:16px
}

#promo{
    font-size:16px
}

#timeline-topup, #timeline-history{
    padding:0px;
    margin-top:10px
}

#topup-accordion{
    background-color: lightgray;
    border-radius:9px;
}

.close-picker{
    color:white;
    font-size:15px
}

/*YM*/
.profile-pic {
    border-radius: 50%;
}

.pic-center {
    height: auto;
    margin: 7% auto;
    max-width: 100px;
}

.mini-icon-size{
    font-size:13px;
}

#timestamp-active-end {
    visibility: hidden;
    width: 0px;
}