/* Shawn */

.override-vehicle{
    bottom: 60px;
}

.override-icon-size{
    font-size: 25px;
}

.override-icon-color{
    color: #000000;
}

.override-icon-link{
    background-image: none;
}

/* Tse Li */

.front-message {
    z-index: 100;
    border-style: solid;
    border-color: gray;
    border-radius: 8px;
    background-color: gray;
    color: white;
    position: absolute;
    margin: auto;
    padding: 5px;
    top: 70%;
    right:30%;
}

.cards-item-title {
    max-width: 50%;
    font-size: small;
    color: rgba(0, 0, 0, 0.54);
}


.card-history {
    background: #fff;
    margin: 8px;
    position: relative;
    border-radius: 2px;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}



.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    justify-content: space-between;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    align-items: flex-start;
}

.row.no-gutter .col-25 {
    width: 25%;
}

.row.no-gutter .col-75 {
    width: 75%;

}




/* Yean Choon */

/*Color theme*/
.theme-red .wallet,
.theme-red .button.button-raised.confirm-payment-button-inner {
    color: white;
    background-color: #f44336;
}

.theme-pink .wallet,
.theme-pink .button.button-raised.confirm-payment-button-inner {
    color: white;
    background-color: #e91e63;
}

.theme-purple .wallet,
.theme-purple .button.button-raised.confirm-payment-button-inner {
    color: white;
    background-color: #9c27b0;
}

.theme-deeppurple .wallet,
.theme-deeppurple .button.button-raised.confirm-payment-button-inner {
    color: white;
    background-color: #673ab7;
}

.theme-indigo .wallet,
.theme-indigo .button.button-raised.confirm-payment-button-inner {
    color: white;
    background-color: #3f51b5;
}

.theme-blue .wallet,
.theme-blue .button.button-raised.confirm-payment-button-inner {
    color: white;
    background-color: #2196f3;
}

.theme-lightblue .wallet,
.theme-lightblue .button.button-raised.confirm-payment-button-inner {
    color: white;
    background-color: #03a9f4;
}

.theme-cyan .wallet,
.theme-cyan .button.button-raised.confirm-payment-button-inner {
    color: white;
    background-color: #00bcd4;
}

.theme-teal .wallet,
.theme-teal .button.button-raised.confirm-payment-button-inner {
    color: white;
    background-color: #009688;
}

.theme-green .wallet,
.theme-green .button.button-raised.confirm-payment-button-inner {
    color: white;
    background-color: #4caf50;
}

.theme-lightgreen .wallet,
.theme-lightgreen .button.button-raised.confirm-payment-button-inner {
    color: white;
    background-color: #8bc34a;
}

.theme-lime .wallet,
.theme-lime .button.button-raised.confirm-payment-button-inner {
    color: white;
    background-color: #cddc39;
}

.theme-yellow .wallet,
.theme-yellow .button.button-raised.confirm-payment-button-inner {
    color: white;
    background-color: #ffeb3b;
}

.theme-amber .wallet,
.theme-amber .button.button-raised.confirm-payment-button-inner {
    color: white;
    background-color: #ffc107;
}

.theme-orange .wallet,
.theme-orange .button.button-raised.confirm-payment-button-inner {
    color: white;
    background-color: #ff9800;
}

.theme-deeporange .wallet,
.theme-deeporange .button.button-raised.confirm-payment-button-inner {
    color: white;
    background-color: #ff5722;
}

.theme-brown .wallet,
.theme-brown .button.button-raised.confirm-payment-button-inner {
    color: white;
    background-color: #795548;
}

.theme-gray .wallet,
.theme-gray .button.button-raised.confirm-payment-button-inner {
    color: white;
    background-color: #9e9e9e;
}

.theme-bluegray .wallet,
.theme-bluegray .button.button-raised.confirm-payment-button-inner {
    color: white;
    background-color: #607d8b;
}

.theme-black .wallet,
.theme-black .button.button-raised.confirm-payment-button-inner {
    color: white;
    background-color: #000;
}
/*End of color theme*/

.list-block{
    background-color:white;
}

#profile-title{
    position:center;
    color:white;
    font-size:28px;
    text-align:center;
}

#parking-info{
    top:30%;
    width:100%;
}

#car-select,#location{
    background-color: white;
}

.promo-code{
    width: 100%;
}

#used-promo-code {
    font-size: 20px;
    border: none;
    width:100%;
    border-radius: 5px;
    background-color:lightgray;
}

.wallet{
    box-sizing: border-box;
    border-radius:5px;
    padding: 16px;
    min-height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    align-items: center;
    width:100%;
    height:80px;
}

#money-icon{
    width:10%;
    margin:4px 20px;
}

.token{
    right:0%;
    font-size:42px;
    text-align:left;
    width:80%;
}

.item-title.selected-car-plate,
.item-title.selected-location{
    margin-top:5px;
}

#add-car{
    position:absolute;
    right:16px;
    bottom: 64px;
}

.popover .list-block{
    max-height:200px;
}

a.close-popover{
    color:inherit;
    box-sizing:border-box;
    display:flex;
    -webkit-box-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;
    width:100%;
}

.popover.popover-menu-car,
.popover.popover-menu-duration{
    width:320px;
}

.content-block.confirm-payment{
    width:100%;
    margin: 0px;
}

.content-block.check-promotion {
    width: 100%;
    margin: 0px;
}

.confirm-payment-button{
    background-color:white;
}

.item-media.profile-info{
    width:25%;
}

/* JJL */
.mylogo {
    display: block;
    width: 50%;
    margin: 8% auto;
}

.item-media img {
    width: auto;
    height: auto;
    max-width: 40px;
    border-radius: 50%;
}

.color-theme {
    height: 44px;
    cursor: pointer;
    margin-bottom: 10px;
}

.view-profile-pic {
    display: block;
    width: 100%;
    margin: 20% auto;
}

.view-big-pic {
    display: block;
    width: 100%;
    margin: 10px auto 0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               px auto;
}

.no-promo {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    color: grey;
}

/* Sen Kit */
#history-tabbar {
    position: fixed
}

.tabs-animated-wrap{
    margin-top: 12%;
}

.list-block.media-list, #history-list, #topup-list, #lbl-cc, #desc-cc, #history-timeline, #extend-content, #duration-content{
    margin:0px;
}

#active-content,#history-content, #topup-content{
    margin:0px;
    padding:0px;
}

#car-icon, #location, #topup-icon,#topup-date,#history-car-plate, #timeline-date, #extendCarPlate{
    font-size:20px
}

#location, #lbl-time, #time-remain{
    text-align:center
}

#lbl-time-left{
    font-size:50px; 
    position:absolute; 
    right:20%;
}

#lbl-time-remain{
    font-size:12px; 
    padding-bottom:20px; 
    bottom:0; 
    right:2%; 
    position:absolute;
}

#txt-car-plate,.owned-car,.select-car{
    text-transform: uppercase;
}

#active-car-plate{
    font-size:35px;
    text-align:center
}

::-webkit-input-placeholder{
    text-transform: none;
}

#lbl-time, #history-info, #topup-info{
    font-size: 18px;
}

#time-remain,#desc-cc{
    font-size:28px;
}

#extend-btn, #terminate-btn{
    float: left;
    border-radius: 10px; 
    width:45%; 
    height:40px; 
    margin:0 2.5%;
    border:none
}

#confirm-btn{
    text-align:center;
    border:none;
    border-radius:10px;
    margin-top: 20px
}

#popover-active{
    width:345px;
    height:360px;
}

#lbl-btns, #lbl-extend{
    text-align:center;
    font-size:16px
}

#promo{
    font-size:16px;
    text-align:center
}

#timeline-topup, #timeline-history{
    padding:0px;
    margin-top:10px
}

#topup-accordion{
    background-color: lightgray;
    border-radius:9px;
}

#extendCancel{
    color:white;
    font-size:15px
}

/*YM*/
.profile-pic {
    border-radius: 50%;
}

.pic-center {
    height: auto;
    margin: 7% auto;
    max-width: 100px;
}

.mini-icon-size{
    font-size:13px;
}

#timestamp-active-end {
    visibility: hidden;
    width: 0px;
}

.slider-info.row{
    margin-top:0px;
    margin-bottom:0px;
}

input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}

    .loginBtn:before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 34px;
        height: 100%;
    }

    .loginBtn:focus {
        outline: none;
    }

    .loginBtn:active {
        box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
    }


/* Facebook */
.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
}

    .loginBtn--facebook:before {
        border-right: #364e92 1px solid;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
    }

    .loginBtn--facebook:hover,
    .loginBtn--facebook:focus {
        background-color: #5B7BD5;
        background-image: linear-gradient(#5B7BD5, #4864B1);
    }


/* Google */
.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
   
}

    .loginBtn--google:before {
        border-right: #BB3F30 1px solid;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
    }

    .loginBtn--google:hover,
    .loginBtn--google:focus {
        background: #E74B37;
    }

/*--------zachaary--------*/
#histInfo, #topupHistInfo {
    text-align: right;
    overflow: hidden;
    max-width: 60px;
    height: 48px;
}

#histItem, #topupHistItem {
    border-radius: 9px;
    padding: 14px 35px 14px 5px;
    margin-bottom: 5px;
}

#show-history,#show-topup-hist {
    min-height: 440px;
}
.modal-buttons.modal-buttons-vertical .modal-button{
    text-align: center !important;
}

.promo-card-logo {
    height: 80px;
    width: 80px;
    left: 0%;
}