.button-signup-submit {
    border-radius: 25px;
    width: 30%;
    padding: 3% 3%;
    background-color: blue;
    color: white;
    border: none;
    margin: auto;
}

.signup-back {
    border-radius: 25px;
    width: 30%;
    padding: 3% 3%;
    background-color: blue;
    color: white;
    position: relative;
    border: none;
    margin: auto;
}

.sign-up-title{
    text-align:center;
}


